.slide {
  @apply relative;
}

.slide-img {
  @apply absolute inset-0 bg-no-repeat bg-cover;
}

.swiper {
  width: 100%;
  height: 70vh;
}

.swiper-slide {
  // text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.font-v2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 30px;
}
.font-v3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 25px;
}
.font-v1 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 30px;
}
.ff {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.my-container {
  @apply max-w-[1240px] mx-auto;
}
.my-bigcontainer {
  @apply max-w-[1340px] mx-auto;
}
.swiper.swiper-initialized.swiper-horizontal.mySwiper.swiper-backface-hidden {
  margin: 0;
}